.boardContainer {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.boardContainerMobile {
    width: 350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
}